{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}


{% block component_product_box_content %}
	<div class="card-body align-items-center">
		{% block component_product_box_badges %}
			{{ parent() }}
		{% endblock %}

		<div class="col-auto  hde-product-img mx-auto">
			{% block component_product_box_image %}
				{{ parent() }}
			{% endblock %}
		</div>

		{% block component_product_box_info %}
			{% block component_product_box_rating %}{% endblock %}

				{% block component_product_box_name %}
					<div class="product-details title d-flex flex-column ps-2 mx-auto text-center text-lg-left">
						<a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
							   class="product-name ps-0"
							   title="{{ name }}">
								{{ product.name | trans }}
						</a>
					</div>
				{% endblock %}
				{% block component_product_box_variant_characteristics %}{% endblock %}

			<div class="product-info col px-2">

				{% block component_product_box_description %}{% endblock %}
			
				{% block component_product_box_price %}
				<div class="slider-price">
					{% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
				</div>
					{{ parent() }}
				{% endblock %}

				{% block component_product_box_action %}	
					{{ parent() }}
				{% endblock %}

			</div>
		{% endblock %}
	</div>
{% endblock %}
