{% block custom_fields_unit_clamp_meter %}
	{% if product.customFields.zusatzfelder_unit_clamp_meter_active == "Yes" %}
		
		{% if product.customFields.zusatzfelder_unit_clamp_meter_dc_voltage %}
			<li>
			{{ "customFields.zusatzfelder_unit_clamp_meter_dc_voltage"|trans }}: {{ product.customFields.zusatzfelder_unit_clamp_meter_dc_voltage|trans|sw_sanitize }}
			</li>		
		{% endif %}


		{% if product.customFields.zusatzfelder_unit_clamp_meter_AC_Voltage %}
			<li>
			{{ "customFields.zusatzfelder_unit_clamp_meter_AC_Voltage"|trans }}: {{ product.customFields.zusatzfelder_unit_clamp_meter_AC_Voltage|trans|sw_sanitize  }}
			</li>
		{% endif %}


		{% if product.customFields.zusatzfelder_unit_clamp_meter_dc_current %}
			<li>
			{{ "customFields.zusatzfelder_unit_clamp_meter_dc_current"|trans }}: {{ product.customFields.zusatzfelder_unit_clamp_meter_dc_current|trans|sw_sanitize }}
			</li>
		{% endif %}

		{% if product.customFields.zusatzfelder_unit_clamp_meter_AC_Current %}
			<li>
			{{ "customFields.zusatzfelder_unit_clamp_meter_AC_Current"|trans }}: {{ product.customFields.zusatzfelder_unit_clamp_meter_AC_Current|trans|sw_sanitize }}
			</li>
		{% endif %}

		{% if product.customFields.zusatzfelder_unit_clamp_meter_Rating %}
			<li>
			{{ "customFields.zusatzfelder_unit_clamp_meter_Rating"|trans }}: {{ product.customFields.zusatzfelder_unit_clamp_meter_Rating|trans|sw_sanitize }}
			</li>
		{% endif %}

		{% if product.customFields.zusatzfelder_unit_clamp_meter_display_count %}
			<li>
			{{ "customFields.zusatzfelder_unit_clamp_meter_display_count"|trans }}: {{ product.customFields.zusatzfelder_unit_clamp_meter_display_count|trans|sw_sanitize }}
			</li>
		{% endif %}




		{% if product.translated.customFields.zusatzfelder_unit_clamp_meter_true_rms %}
			<li>
			{{ "customFields.zusatzfelder_unit_clamp_meter_true_rms"|trans }}:

					{% if  product.translated.customFields.zusatzfelder_unit_clamp_meter_true_rms|trans|sw_sanitize  == 1 %}
							✓
					{% elseif product.translated.customFields.zusatzfelder_unit_clamp_meter_true_rms|trans|sw_sanitize == 0 %}
							✗
					{% else	%}	
							{{ product.translated.customFields.zusatzfelder_unit_clamp_meter_true_rms|trans|sw_sanitize }}
					{% endif %}				
			</li>
		{% endif %}

		{% if product.translated.customFields.zusatzfelder_unit_clamp_meter_auto_range %}
			<li>
			{{ "customFields.zusatzfelder_unit_clamp_meter_auto_range"|trans }}:

					{% if  product.translated.customFields.zusatzfelder_unit_clamp_meter_auto_range|trans|sw_sanitize  == 1 %}
							✓
					{% elseif product.translated.customFields.zusatzfelder_unit_clamp_meter_auto_range|trans|sw_sanitize == 0 %}
							✗
					{% else	%}	
							{{ product.translated.customFields.zusatzfelder_unit_clamp_meter_auto_range|trans|sw_sanitize }}
					{% endif %}				
			</li>
		{% endif %}


	{% endif %}
{% endblock %}