{% block custom_fields_unit_insulation_resistance_tester %}
   
												   
		{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_active == "Yes" %}



{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_ac_voltage %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_ac_voltage"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_ac_voltage|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_ac_voltage|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_ac_voltage|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_auto_power_off %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_auto_power_off"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_auto_power_off|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_auto_power_off|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_auto_power_off|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_auto_range %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_auto_range"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_auto_range|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_auto_range|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_auto_range|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_comparison_measurement %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_comparison_measurement"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_comparison_measurement|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_comparison_measurement|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_comparison_measurement|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_data_hold %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_data_hold"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_data_hold|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_data_hold|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_data_hold|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_dc_voltage %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_dc_voltage"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_dc_voltage|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_dc_voltage|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_dc_voltage|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_dielectric_absorption_ratio %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_dielectric_absorption_ratio"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_dielectric_absorption_ratio|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_dielectric_absorption_ratio|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_dielectric_absorption_ratio|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_display_count %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_display_count"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_display_count|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_display_count|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_display_count|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_display_size %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_display_size"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_display_size|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_display_size|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_display_size|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_high_voltage_indication %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_high_voltage_indication"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_high_voltage_indication|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_high_voltage_indication|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_high_voltage_indication|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_insulation_restistance %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_insulation_restistance"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_insulation_restistance|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_insulation_restistance|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_insulation_restistance|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_load_current %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_load_current"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_load_current|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_load_current|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_load_current|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_low_battery_indication %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_low_battery_indication"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_low_battery_indication|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_low_battery_indication|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_low_battery_indication|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_low_resistance %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_low_resistance"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_low_resistance|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_low_resistance|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_low_resistance|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_manual_range %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_manual_range"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_manual_range|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_manual_range|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_manual_range|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_overload_indication %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_overload_indication"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_overload_indication|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_overload_indication|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_overload_indication|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_polarization_index %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_polarization_index"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_polarization_index|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_polarization_index|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_polarization_index|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_power_supply %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_power_supply"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_power_supply|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_power_supply|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_power_supply|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_short_circuit_current %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_short_circuit_current"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_short_circuit_current|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_short_circuit_current|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_short_circuit_current|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_test_voltages %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_test_voltages"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_test_voltages|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_test_voltages|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_test_voltages|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_worklight %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_worklight"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_worklight|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_worklight|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_insulation_resitance_tester_worklight|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}











			{% if page.product.weight %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_weight"|trans }}:</th>			
				<td>{{ page.product.weight|trans|sw_sanitize|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}kg</td>						
			</tr>
			{% endif %}

			

			{% if page.product.length %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_insulation_resitance_tester_size"|trans }}:</th>
				<td>
					{{ page.product.length|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm

					{% if page.product.width %}
						 x {{ page.product.width|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
						{% if page.product.height %}
							x {{ page.product.height|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
						{% endif %}

					{% endif %}
									
				</td>						
			</tr>
			{% endif %}


        {% endif %}

{% endblock %}