		
{% block custom_fields_unit_thermal_imager %}
   
												   
		{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_active == "Yes" %}

 

{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_alarm %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_alarm"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_alarm|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_alarm|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_alarm|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_auto_tracking_for_lo_hi_temperature %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_auto_tracking_for_lo_hi_temperature"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_auto_tracking_for_lo_hi_temperature|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_auto_tracking_for_lo_hi_temperature|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_auto_tracking_for_lo_hi_temperature|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_communication_interface %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_communication_interface"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_communication_interface|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_communication_interface|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_communication_interface|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_digital_camera %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_digital_camera"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_digital_camera|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_digital_camera|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_digital_camera|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_emissivity %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_emissivity"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_emissivity|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_emissivity|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_emissivity|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_field_of_view %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_field_of_view"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_field_of_view|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_field_of_view|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_field_of_view|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_focus %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_focus"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_focus|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_focus|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_focus|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_framerate %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_framerate"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_framerate|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_framerate|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_framerate|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_image_model %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_image_model"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_image_model|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_image_model|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_image_model|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_ir_resolution %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_ir_resolution"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_ir_resolution|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_ir_resolution|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_ir_resolution|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_led %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_led"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_led|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_led|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_led|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_palettes %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_palettes"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_palettes|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_palettes|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_palettes|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_pc_software %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_pc_software"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_pc_software|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_pc_software|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_pc_software|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_protection %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_protection"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_protection|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_protection|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_protection|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_thermal_imager_roi %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_thermal_imager_roi"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_thermal_imager_roi|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_thermal_imager_roi|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_thermal_imager_roi|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}







			{% if page.product.weight %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_usb_tester_weight"|trans }}:</th>			
				<td>{{ page.product.weight|trans|sw_sanitize|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}kg</td>						
			</tr>
			{% endif %}

			

			{% if page.product.length %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_usb_tester_size"|trans }}:</th>
				<td>
					{{ page.product.length|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm

					{% if page.product.width %}
						 x {{ page.product.width|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
						{% if page.product.height %}
							x {{ page.product.height|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
						{% endif %}

					{% endif %}
									
				</td>						
			</tr>
			{% endif %}


        {% endif %}

{% endblock %}