{% block custom_fields_unit_usb_tester %}
   
												   
		{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_active == "Yes" %}

 


			{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_Data_storage %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_Data_storage"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_Data_storage|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_Data_storage|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_Data_storage|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_Maximum_recording_time %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_Maximum_recording_time"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_Maximum_recording_time|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_Maximum_recording_time|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_Maximum_recording_time|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_USB_data_cable_voltage %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_USB_data_cable_voltage"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_USB_data_cable_voltage|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_USB_data_cable_voltage|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_USB_data_cable_voltage|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_active %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_active"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_active|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_active|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_active|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_capacitance %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_capacitance"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_capacitance|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_capacitance|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_capacitance|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_circuit_equivalent_restistance_measurement %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_circuit_equivalent_restistance_measurement"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_circuit_equivalent_restistance_measurement|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_circuit_equivalent_restistance_measurement|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_circuit_equivalent_restistance_measurement|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_current_range %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_current_range"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_current_range|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_current_range|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_current_range|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_data_charging_protocol %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_data_charging_protocol"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_data_charging_protocol|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_data_charging_protocol|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_data_charging_protocol|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_energy %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_energy"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_energy|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_energy|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_energy|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_fast_charge_protocol_Type_A %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_fast_charge_protocol_Type_A"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_fast_charge_protocol_Type_A|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_fast_charge_protocol_Type_A|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_fast_charge_protocol_Type_A|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_fast_charge_protocol_Type_C %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_fast_charge_protocol_Type_C"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_fast_charge_protocol_Type_C|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_fast_charge_protocol_Type_C|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_fast_charge_protocol_Type_C|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
 
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_usb_port %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_usb_port"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_usb_port|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_usb_port|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_usb_port|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}

                
{% if page.product.translated.customFields.zusatzfelder_unit_usb_tester_voltage_range %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_usb_tester_voltage_range"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_usb_tester_voltage_range|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_usb_tester_voltage_range|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_usb_tester_voltage_range|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}




			{% if page.product.weight %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_usb_tester_weight"|trans }}:</th>			
				<td>{{ page.product.weight|trans|sw_sanitize|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}kg</td>						
			</tr>
			{% endif %}

			

			{% if page.product.length %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_usb_tester_size"|trans }}:</th>
				<td>
					{{ page.product.length|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm

					{% if page.product.width %}
						 x {{ page.product.width|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
						{% if page.product.height %}
							x {{ page.product.height|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
						{% endif %}

					{% endif %}
									
				</td>						
			</tr>
			{% endif %}


        {% endif %}

{% endblock %}