	{# UNIT Multimeter #}

	{% block custom_fields_unit_multimeter %}

		{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_active == "Yes" %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_dc_voltage %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_dc_voltage"|trans }}:</th>

					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_dc_voltage == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_dc_voltage == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_dc_voltage }}</td>	
					{% endif %}		


				</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_AC_Voltage %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_AC_Voltage"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_AC_Voltage|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_AC_Voltage|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_AC_Voltage|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_dc_current %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_dc_current"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_dc_current|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_dc_current|trans|sw_sanitize  == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_dc_current|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_AC_Current %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_AC_Current"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_AC_Current|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_AC_Current|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_AC_Current|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %} 

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Resistance %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_Resistance"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Resistance|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_Resistance|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_Resistance|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %} 

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Capacitance %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_Capacitance"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Capacitance|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_Capacitance|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_Capacitance|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Frequency %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_Frequency"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Frequency|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_Frequency|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_Frequency|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Duty %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_Duty"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Duty|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_Duty|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_Duty|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_temperature_range %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_temperature_range"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_temperature_range|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_temperature_range|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_temperature_range|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Rating %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_Rating"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Rating|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_Rating|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_Rating|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_display_count %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_display_count"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_display_count|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_display_count|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_display_count|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_manual_range %}
				<tr>
					<th>{{ "customFields.zusatzfelder_unit_multimeter_manual_range"|trans }}:</th>
					{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_manual_range|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_manual_range|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_manual_range|trans|sw_sanitize }}</td>	
					{% endif %}		
				</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_auto_range %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_auto_range"|trans }}:</th>
				{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_auto_range == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_auto_range == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_auto_range }}</td>	
					{% endif %}						
			</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_true_rms %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_true_rms"|trans }}:</th>
				{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_true_rms|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_true_rms|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_true_rms|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Non_Contact_Voltage_Detection %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_Non_Contact_Voltage_Detection"|trans }}:</th>
				{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Non_Contact_Voltage_Detection|trans|sw_sanitize == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_Non_Contact_Voltage_Detection|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_Non_Contact_Voltage_Detection|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_continuity_test %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_continuity_test"|trans }}:</th>
				{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_continuity_test|trans|sw_sanitize == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_continuity_test|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_continuity_test|trans|sw_sanitize }}</td>	
					{% endif %}						
			</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_diode_test %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_diode_test"|trans }}:</th>
				{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_diode_test|trans|sw_sanitize == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_diode_test|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_diode_test|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_auto_power_off %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_auto_power_off"|trans }}:</th>
			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_auto_power_off|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_auto_power_off|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_auto_power_off|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_data_hold %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_data_hold"|trans }}:</th>
			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_data_hold|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_data_hold|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_data_hold|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_min_max_function %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_min_max_function"|trans }}:</th>
			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_min_max_function|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_min_max_function|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_min_max_function|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_max_function %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_max_function"|trans }}:</th>
			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_max_function|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_max_function|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_max_function|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}

			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_display_size %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_display_size"|trans }}:</th>
			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_display_size|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_display_size|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_display_size|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}


{#
			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Size %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_Size"|trans }}:</th>
			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Size|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_Size|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_Size|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}
#}

			{% if page.product.length %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_Size"|trans }}:</th>
				<td>
					{{ page.product.length|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
					{% if page.product.width %}
						 x {{ page.product.width|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
						{% if page.product.height %}
							x {{ page.product.height|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
						{% endif %}

					{% endif %}
						
				</td>						
			</tr>
			{% endif %}


			{#
			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Weight %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_Weight"|trans }}:</th>
			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_Weight|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_Weight|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_Weight|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}
			#}

			{% if page.product.weight %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_Weight"|trans }}:</th>			
				<td>{{ page.product.weight|trans|sw_sanitize|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}kg</td>						
			</tr>
			{% endif %}




			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_power_supply %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_multimeter_power_supply"|trans }}:</th>
			{% if page.product.translated.customFields.zusatzfelder_unit_multimeter_power_supply|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_multimeter_power_supply|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_multimeter_power_supply|trans|sw_sanitize }}</td>	
					{% endif %}		
			</tr>
			{% endif %}

		{% endif %}

{% endblock %}