


{% block custom_fields_unit_vibration_tester %}

	{% if page.product.translated.customFields.zusatzfelder_unit_vibration_tester_active == "Yes" %}


		{% if page.product.translated.customFields.zusatzfelder_unit_vibration_tester_acceleration %}
		<tr>
			<th>{{ "customFields.zusatzfelder_unit_vibration_tester_acceleration"|trans }}:</th>		
			<td>{{ page.product.translated.customFields.zusatzfelder_unit_vibration_tester_acceleration|trans|sw_sanitize }}</td>	
		</tr>
		{% endif %}

		{% if page.product.translated.customFields.zusatzfelder_unit_vibration_tester_velocity %}
		<tr>
			<th>{{ "customFields.zusatzfelder_unit_vibration_tester_velocity"|trans }}:</th>		
			<td>{{ page.product.translated.customFields.zusatzfelder_unit_vibration_tester_velocity|trans|sw_sanitize }}</td>	
		</tr>
		{% endif %}

		{% if page.product.translated.customFields.zusatzfelder_unit_vibration_tester_displacement %}
		<tr>
			<th>{{ "customFields.zusatzfelder_unit_vibration_tester_displacement"|trans }}:</th>		
			<td>{{ page.product.translated.customFields.zusatzfelder_unit_vibration_tester_displacement|trans|sw_sanitize }}</td>	
		</tr>
		{% endif %}

		{% if page.product.translated.customFields.zusatzfelder_unit_vibration_tester_display_count %}
		<tr>
			<th>{{ "customFields.zusatzfelder_unit_vibration_tester_display_count"|trans }}:</th>		
			<td>{{ page.product.translated.customFields.zusatzfelder_unit_vibration_tester_display_count|trans|sw_sanitize }}</td>	
		</tr>
		{% endif %}

 

		{% if page.product.translated.customFields.zusatzfelder_unit_vibration_tester_auto_power_off %}
		<tr>
		<th>{{ "customFields.zusatzfelder_unit_vibration_tester_auto_power_off"|trans }}:</th>
		{% if    page.product.translated.customFields.zusatzfelder_unit_vibration_tester_auto_power_off|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_vibration_tester_auto_power_off|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_vibration_tester_auto_power_off|trans|sw_sanitize }}</td>	
					{% endif %}	
		</tr>
		{% endif %}



		{% if page.product.translated.customFields.zusatzfelder_unit_vibration_tester_data_hold %}
		<tr>
		<th>{{ "customFields.zusatzfelder_unit_vibration_tester_data_hold"|trans }}:</th>
		{% if    page.product.translated.customFields.zusatzfelder_unit_vibration_tester_data_hold|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_vibration_tester_data_hold|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_vibration_tester_data_hold|trans|sw_sanitize }}</td>	
					{% endif %}	
		</tr>
		{% endif %}

		{% if page.product.translated.customFields.zusatzfelder_unit_vibration_tester_low_battery %}
		<tr>
		<th>{{ "customFields.zusatzfelder_unit_vibration_tester_low_battery"|trans }}:</th>
		{% if    page.product.translated.customFields.zusatzfelder_unit_vibration_tester_low_battery|trans|sw_sanitize  == 1 %}
							<td>✓</td>
					{% elseif page.product.translated.customFields.zusatzfelder_unit_vibration_tester_low_battery|trans|sw_sanitize == 0 %}
							<td>✗</td>
					{% else	%}	
							<td>{{ page.product.translated.customFields.zusatzfelder_unit_vibration_tester_low_battery|trans|sw_sanitize }}</td>	
					{% endif %}	
		</tr>
		{% endif %}


		{% if page.product.length %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_vibration_tester_size"|trans }}:</th>
				<td>
					{{ page.product.length|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm

					{% if page.product.width %}
						 x {{ page.product.width|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
						{% if page.product.height %}
							x {{ page.product.height|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
						{% endif %}

					{% endif %}
									
				</td>						
			</tr>
			{% endif %}




			{% if page.product.weight %}
			<tr>
			<th>{{ "customFields.zusatzfelder_unit_vibration_tester_weight"|trans }}:</th>			
				<td>{{ page.product.weight|trans|sw_sanitize|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}kg</td>						
			</tr>
			{% endif %}

	{% endif %}

{% endblock %}

