{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}

{#{% block component_account_register_form %}#}
{#   #}
{#   <div class="hde-registration-smallbusiness">#}
{#        <h4> {{ 'hde_registration_smallbusiness_title' | trans | raw }} </h4>#}
{#        <div>#}
{#            {{ 'hde_registration_smallbusiness_text' | trans | raw }}#}
{#        </div>#}
{#   </div>#}


{#   <div class="hde-registration-distributor">#}
{#        <h4> {{ 'hde_registration_distributor_title' | trans | raw }} </h4>#}
{#        <div>#}
{#            {{ 'hde_registration_distributor_text' | trans | raw }}#}
{#        </div>#}
{#   </div>#}

{#   #}
{#    {{ parent() }}#}
{#   #}

{#{% endblock %}#}
