
{% block custom_fields_unit_usb_tester %}



{% if page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_active == "Yes" %}

{% if page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_temperature %}
<tr>
<th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_temperature"|trans }}:</th>
<td>{{ page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_temperature|trans|sw_sanitize }}</td>
</tr>
{% endif %}

{% if page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_humidity %}
<tr>
<th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_humidity"|trans }}:</th>
<td>{{ page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_humidity|trans|sw_sanitize }}</td>
</tr>
{% endif %}

{% if page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_celsius_fahrenheit %}
<tr>
<th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_celsius_fahrenheit"|trans }}:</th>
<td>{{ page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_celsius_fahrenheit|trans|sw_sanitize }}</td>
</tr>
{% endif %}







               
{% if page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_backlight %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_backlight"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_backlight|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_backlight|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_backlight|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}

{% if page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_overload_alarm %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_overload_alarm"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_overload_alarm|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_overload_alarm|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_overload_alarm|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}

{% if page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_auto_power_off %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_auto_power_off"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_auto_power_off|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_auto_power_off|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_auto_power_off|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}

{% if page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_data_hold %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_data_hold"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_data_hold|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_data_hold|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_data_hold|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}

{% if page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_max_min_function %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_max_min_function"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_max_min_function|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_max_min_function|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_max_min_function|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}





{% if page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_power_supply %}
<tr>
<th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_power_supply"|trans }}:</th>
<td>{{ page.product.translated.customFields.zusatzfelder_unit_temperature_humidity_meter_power_supply|trans|sw_sanitize }}</td>
</tr>
{% endif %}


{% if page.product.weight %}
      <tr>
      <th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_weight"|trans }}:</th>      
        <td>{{ page.product.weight|trans|sw_sanitize|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}kg</td>           
      </tr>
      {% endif %}

      

      {% if page.product.length %}
      <tr>
      <th>{{ "customFields.zusatzfelder_unit_temperature_humidity_meter_size"|trans }}:</th>
        <td>
          {{ page.product.length|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm

          {% if page.product.width %}
             x {{ page.product.width|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
            {% if page.product.height %}
              x {{ page.product.height|number_format(5, '.', ',')|trim('0','right')|trim('.','right') }}mm
            {% endif %}

          {% endif %}
                  
        </td>           
      </tr>
      {% endif %}


{% endif %}


{% endblock %}