
{% block custom_fields_unit_vibration_tester %}

	{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_active == "Yes" %}




{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_usb_communication %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_usb_communication"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_usb_communication|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_usb_communication|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_usb_communication|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_unit_conversion %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_unit_conversion"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_unit_conversion|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_unit_conversion|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_unit_conversion|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}

{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_resolution %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_resolution"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_resolution|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_resolution|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_resolution|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_power_supply %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_power_supply"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_power_supply|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_power_supply|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_power_supply|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_pc_analysis_software %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_pc_analysis_software"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_pc_analysis_software|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_pc_analysis_software|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_pc_analysis_software|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_metal_type %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_metal_type"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_metal_type|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_metal_type|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_metal_type|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measuring_range %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_measuring_range"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measuring_range|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measuring_range|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measuring_range|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measurement_mode %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_measurement_mode"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measurement_mode|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measurement_mode|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measurement_mode|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measurement_method %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_measurement_method"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measurement_method|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measurement_method|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_measurement_method|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_low_battery_indicator %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_low_battery_indicator"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_low_battery_indicator|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_low_battery_indicator|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_low_battery_indicator|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_lcd_brightness_correction %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_lcd_brightness_correction"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_lcd_brightness_correction|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_lcd_brightness_correction|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_lcd_brightness_correction|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_display_size %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_display_size"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_display_size|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_display_size|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_display_size|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_auto_rotatable_screen %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_auto_rotatable_screen"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_auto_rotatable_screen|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_auto_rotatable_screen|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_auto_rotatable_screen|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_auto_power_off %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_auto_power_off"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_auto_power_off|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_auto_power_off|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_auto_power_off|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}
{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_audio_alarm %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_audio_alarm"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_audio_alarm|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_audio_alarm|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_audio_alarm|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}

{% if page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_LED_alarm %}
                <tr>
                <th>{{ "customFields.zusatzfelder_unit_coating_thickness_gauge_LED_alarm"|trans }}:</th>
                {% if    page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_LED_alarm|trans|sw_sanitize  == 1 %}
                                                        <td>✓</td>
                                        {% elseif page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_LED_alarm|trans|sw_sanitize == 0 %}
                                                        <td>✗</td>
                                        {% else        %}        
                                                        <td>{{ page.product.translated.customFields.zusatzfelder_unit_coating_thickness_gauge_LED_alarm|trans|sw_sanitize }}</td>        
                                        {% endif %}        
                </tr>
                {% endif %}

	{% endif %}

{% endblock %}

