{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_search %}
    <div class="col-12 order-2 col-sm order-sm-1 header-search-col">
        <div class="row d-flex align-items-center justify-content-center">
        	{#
            <span class="hde-top-bar-link">
                {{ "hde_top_bar_link1"|trans|raw }}
            </span>
            #}
            <div class="col-sm-auto d-none d-sm-block d-lg-none">
                 {% block layout_header_navigation_toggle_tablet %}
                    {{ parent() }}
                {% endblock %}
            </div>
            <div class="col">
                {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
            </div>
            <span class="hde-top-bar-link w-auto">
                {% if not context.customer %}
                    <div class="account-menu-register">
                        <a href="{{ path('frontend.account.login.page') }}" title="{{ "hde_pucted_top_bar_registration_text"|trans|striptags }}">{{ "hde_pucted_top_bar_registration_text"|trans|raw }}</a>
                    </div>

                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}